@CHARSET "UTF-8";
body {
	background: white;
    font-family: 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: 0 auto;
}
nav { height: 40px; margin: 20px;}
nav > span { margin-left: 20px;}
ul#vouchers > li a {vertical-align:40px;}
ul#vouchers > li img{margin:40px;}
input#searchinputbox { height:24px; margin-left: 40px; }
#searchbutton {width:28px; height:28px; 
                    background-image:url('../resources/search_glass.jpg'); 
                    background-repeat:no-repeat;    
                    background-position: 0px 0px;
                    background-color: transparent;}
div.footer {height: 50px; bottom: 0;}
img#topbanner {height:280px; width:100%;}